.titles {
  color: #ffffff;
  font-weight: bold;
  font-size: x-large;
}

.card-img-bottom {
  object-fit: cover;
}
.card-title {
  font-size: medium;
}
.card {
  margin-bottom: 0.5rem;
}
#videolist {
  background-color: #f8f9fa !important;
  height: 700px;
  overflow-y: scroll;
}
