.cloud {
  background: url("../../cloud.svg") no-repeat;
  position: absolute;
  width: 10%;
  height: 10%;
  opacity: 0.2;
  animation-name: move;
  animation-duration: 10s;
  animation-fill-mode: both;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}
.cloud:nth-of-type(2) {
  top: 175px;
  left: -750px;
}
.cloudJK {
  background: url("../../cloud.svg") no-repeat;
  top: 300px;
  left: -600px;
  position: absolute;
  width: 10%;
  height: 10%;
  opacity: 0.1;
  animation-name: move;
  animation-duration: 10s;
  animation-fill-mode: both;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}
@keyframes move {
  from {
    transform: translateX(-10em); /* MAKE RESPONSIVEEEEEEE */
  }
  to {
    transform: translateX(1800px); /*MAKE RESPONSIVE */
  }
}
.footerName {
  opacity: 1;
  position: relative;
  transform: translateY(100px);
}
