.cloud {
  background: url("../../cloud.svg") no-repeat;
  position: absolute;
  width: 10%;
  height: 10%;

  animation-name: move;
  animation-duration: 45s;
  animation-fill-mode: both;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
  animation-delay: 9s;
}
.cloud:nth-of-type(2) {
  top: 175px;
  left: -750px;
  animation-delay: 3s;
}
.cloudJK {
  background: url("../../cloud.svg") no-repeat;
  top: 300px;
  left: 0;
  position: absolute;
  width: 10%;
  height: 10%;

  animation-name: move;
  animation-duration: 55s;
  animation-delay: 2s;
  animation-fill-mode: both;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}
@keyframes move {
  0% {
    opacity: 0;
    left: 0;
  }
  20% {
    opacity: 0.1;
  }
  70% {
    opacity: 0.1;
  }
  100% {
    opacity: 0;
    left: 90%;
  }
}
.footerName {
  opacity: 1;
  position: relative;
  transform: translateY(100px);
}
.homepage1.col-sm-4 {
  color: #fff;
}
.homepage2.col-sm-8 {
  color: #fff;
}
.mediaplayer.col-sm-12 {
  position: sticky;
  padding: 0;
}
.homepage3.col-sm-4 {
  color: #fff;
}
.sidebar.col-sm-2 {
  color: #fff;
  padding: 0;
}
.playlist.col-sm-10 {
  padding-bottom: 78px;
}
.homepage-div {
  background: rgb(2, 0, 36);
  background: linear-gradient(
    355deg,
    rgba(2, 0, 36, 1) 0%,
    rgba(9, 9, 121, 1) 35%,
    rgba(25, 172, 201, 1) 100%
  );
}
.homepage-div2 {
  background: rgb(2, 0, 36);
  background: linear-gradient(
    54deg,
    rgba(2, 0, 36, 0.2049194677871149) 0%,
    rgba(5, 241, 219, 0.42620798319327735) 15%,
    rgba(43, 3, 95, 0.3253676470588235) 41%,
    rgba(3, 34, 95, 0.5186449579831933) 62%,
    rgba(8, 183, 190, 0.2665441176470589) 73%,
    rgba(7, 231, 217, 1) 100%
  );

  animation-name: blurEffectBackground;
  animation-duration: 2.16666s;
  animation-fill-mode: both;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}
.ReactVirtualized__Grid.ReactVirtualized__List {
  background-color: transparent;
  --stagger-delay: 100ms;
}

.card {
  background-color: transparent !important;
  color: #fff !important;
  text-align: center;
  font-family: "Itim", cursive;
}

.div #videolist {
  background-color: transparent !important;
}
button.btn-secondary {
  outline: none !important;
  border: none !important;
  background-color: #0000003d !important;
  transition: transform 80ms ease-in;
}
.btn-secondary {
  outline: none !important;
  border: none !important;
  background-color: #0000003d !important;
  transition: transform 80ms ease-in;
}
button.btn-secondary:hover,
.btn-secondary:hover {
  background-color: #d1d1d13d !important;
}
button.btn-secondary:active,
.btn-secondary:active {
  border: none !important;
  background-color: #d1d1d13d !important;
  transform: scale(0.92) !important;
  box-shadow: 0 0 0 0 !important;
}
button.btn-secondary:active:focus,
.bt-secondary:active:focus {
  outline: none !important;
  border: none !important;
  background-color: #d1d1d13d !important;
}
button.btn-secondary:focus:active,
.btn-secondary:focus:active {
  outline: none !important;
  border: none !important;
}

button.btn-secondary:focus,
.btn-secondary:focus {
  outline: none !important;
  border: none !important;
  background-color: #0000003d !important;
  box-shadow: 0 0 0 0;
}

button.btn-secondary.disabled {
  border: none !important;
  background-color: #0000003d;
}
.modal-content {
  animation-name: blurEffect;
  animation-duration: 0.7s;
  animation-fill-mode: both;
  animation-iteration-count: 1;
  animation-timing-function: linear;
  background-color: rgba(27, 89, 132, 0.93) !important;
}
h5.modal-title {
  color: #fff !important;
}
p {
  color: #fff;
}
.modal-header span {
  color: #fff;
}

label {
  color: #fff;
  animation-name: blurEffect;
  animation-duration: 0.8s;
  animation-fill-mode: both;
  animation-iteration-count: 1;
  animation-timing-function: linear;
}
@keyframes blurEffect {
  0% {
    opacity: 1;
    left: 0;
    filter: blur(10px);
  }
  100% {
    opacity: 1;
  }
}
@keyframes blurEffectBackground {
  0% {
    opacity: 1;
    left: 0;
    backdrop-filter: brightness(0%);
  }
  50% {
    opacity: 1;
    backdrop-filter: brightness(70%) blur(4px) hue-rotate(20deg);
  }
  100% {
    opacity: 1;
    backdrop-filter: brightness(0%);
  }
}
.Toaster__alert {
  background-color: rgba(59, 30, 63, 0.63);
  color: #fff;
}
.Toaster__alert span {
  color: #fff;
}
.loadingPlace {
  background-color: #f8f9fa2b;
  color: #fff;
}
