.cloud {
  background: url("../../cloud.svg") no-repeat;
  position: absolute;
  width: 10%;
  height: 10%;

  animation-name: move;
  animation-duration: 45s;
  animation-fill-mode: both;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
  animation-delay: 9s;
}
.cloud:nth-of-type(2) {
  top: 175px;
  left: -750px;
  animation-delay: 3s;
}
.cloudJK {
  background: url("../../cloud.svg") no-repeat;
  top: 300px;
  left: 0;
  position: absolute;
  width: 10%;
  height: 10%;

  animation-name: move;
  animation-duration: 55s;
  animation-delay: 2s;
  animation-fill-mode: both;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}
@keyframes move {
  0% {
    opacity: 0;
    left: 0;
  }
  20% {
    opacity: 0.1;
  }
  70% {
    opacity: 0.1;
  }
  100% {
    opacity: 0;
    left: 90%;
  }
}
.footerName {
  opacity: 1;
  position: relative;
  transform: translateY(100px);
}
.homepage1.col-sm-4 {
  color: #fff;

  min-height: 100vh;
}
.homepage2.col-sm-4 {
  color: #fff;
  min-height: 100vh;
}
.homepage2.col-sm-4 {
  color: #fff;
  min-height: 100vh;
}
.homepage-div {
  background-image: radial-gradient(
    circle farthest-corner at -0.4% 112%,
    rgba(102, 51, 204, 1) 0%,
    rgba(244, 111, 111, 1) 92.7%
  );
}
.ReactVirtualized__Grid.ReactVirtualized__List {
  background-color: transparent;
}
.card {
  background-color: transparent !important;
}
.div #videolist {
  background-color: transparent !important;
}
button.btn-secondary {
  outline: none !important;
  border: none !important;
  background-color: #0000003d;
  transition: transform 80ms ease-in;
}
button.btn-secondary:hover {
  background-color: #0000003d;
}
button.btn-secondary:active {
  border: none !important;
  background-color: #d042a8;
  transform: scale(0.92);
  box-shadow: 0 0 0 0 !important;
}
button.btn-secondary:active:focus {
  outline: none !important;
  border: none !important;
  background-color: #d042a8 !important;
}
button.btn-secondary:focus:active {
  outline: none !important;
  border: none !important;
  background-color: #d042a8;
}

button.btn-secondary:focus {
  outline: none !important;
  border: none !important;
  background-color: #0000003d;
  box-shadow: 0 0 0 0;
}

button.btn-secondary.disabled {
  border: none !important;
  background-color: #0000003d;
}
span.styled-toast {
  background-color: antiquewhite;
}
.div#2.Toaster__alert {
  background-color: black !important;
}
