.MediaPlayerdiv {
  background-color: #151313;
  height: 160px;
  width: 100%;
  position: relative;
}
.testi123 {
  position: absolute;
  left: 16.5%;
}
.react-player {
  margin-bottom: 10px;
  background: rgba(0, 0, 0, 0.1);
}
.section {
  display: inline-block;

  text-align: left;
  vertical-align: top;
}

.player-wrapper {
  max-width: 480px;
  height: 270px;
}
.btn-controls {
  margin-left: 2px !important;
}
#exampleCustomRange {
  color: rgb(0, 136, 255) !important;
}
.buttonit {
  position: absolute;
  left: 40%;
  top: 50%;
}
.volumecontrol {
  position: absolute;
  width: 100px;
  left: 84%;
  top: 53%;
}
p.titleplaying {
  position: absolute;
  left: 35%;
  top: 10%;
}
