#spotifyPlaylist {
  background-color: transparent !important;
  height: 700px;
  overflow-y: scroll;
}
.spotifypage1.col-sm-4 {
  color: #fff;
  min-height: 100vh;
}
.spotifypage2.col-sm-4 {
  color: #fff;
  min-height: 100vh;
}
.spotifypage3.col-sm-4 {
  color: #fff;
  min-height: 100vh;
}
h3 {
  color: #fff;
}
