.playListEditorActive {
  transition: ease-in 0.19s;
}
.playListEditorNotActive {
  opacity: 0.3;
}
#spinnerDiv {
  position: fixed;
  background-color: #4b4b4bf5;
  top: 40%;
  left: 50%;
  border-radius: 50px;
  z-index: 10;
  -webkit-box-shadow: 0px 5px 39px 0px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0px 5px 39px 0px rgba(0, 0, 0, 0.75);
  box-shadow: 0px 5px 39px 0px rgba(0, 0, 0, 0.75);
  box-shadow: 12px 0px 30px 0px rgba(0, 0, 0, 0.75);
}
.inputDiv {
  display: flex;
  justify-content: space-between;
}
#filterId {
  width: 300%;
}
#spinnerDiv2 {
  position: fixed;
  background-color: #4b4b4bf5;
  top: 50%;
  left: 50%;
  border-radius: 50px;
  z-index: 10;
}
p.card-text {
  cursor: pointer;
}
