.sweet-loading {
  padding-right: 50px;
  padding-left: 50px;
  padding-top: 10px;
  padding-bottom: 10px;
}
.sweet-loading2 {
  padding-right: 75px;
  padding-left: 75px;
  padding-top: 40px;
  padding-bottom: 40px;
  position: absolute;
  left: 42%;
  top: 20%;
  background-color: rgb(34, 34, 34);
  border-radius: 50px;
  z-index: 1000;
  -webkit-box-shadow: 0px 10px 30px 0px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0px 10px 30px 0px rgba(0, 0, 0, 0.75);
  box-shadow: 0px 10px 30px 0px rgba(0, 0, 0, 0.75);
}
#spinner2 i {
  color: aliceblue;
}
