.sweet-loading {
  padding-right: 50px;
  padding-left: 50px;
  padding-top: 10px;
  padding-bottom: 10px;
}
.sweet-loading2 {
  padding-right: 50px;
  padding-left: 50px;
  padding-top: 50px;
  padding-bottom: 50px;
  position: absolute;
  left: 45%;
  top: 35%;
  background-color: black;
  border-radius: 50px;
  z-index: 1000;
}
#spinner2 i {
  color: aliceblue;
}
