.modal-header {
  padding-bottom: 1px !important;
}
#lowerRow {
  padding-top: 20px;
  padding-bottom: 10px;
}
.inthemiddle {
  margin: 0;
  position: absolute;

  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}
.sortableHelper {
  z-index: 10000 !important;
}
#importedPlayListTitle {
  position: absolute;
  left: 25%;
}
