.btn-remove {
  margin-left: 2px !important;
}
.published {
  display: inline;
}
.btn-item {
  font-size: small !important;
  margin: 1px;
  display: inline-block !important;
  top: 50% !important;
}
.placeforbutton {
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}
.virtualPlayList {
  border: honeydew;
  border-style: groove;
}
.cardFade {
  animation: fade-in 0.5s;
}
@keyframes fade-in {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}
.fade2 {
  /*animation: fade-in-keyframes 0.3s;*/
}
@keyframes fade-in-keyframes {
  from {
    opacity: 1;
    transform: translate(0, 0);
  }
  to {
    opacity: 0;
    transform: translateX(-100px);
  }
}
.flex-container {
  display: flex;
}
.play-icon {
  /* color: rgb(117, 255, 148);*/
  cursor: pointer;
  transition: transform 80ms ease-in;
}
.play-icon:hover {
  transform: scale(0.95);
  color: #00ffb3 !important;
}
.play-icon:active {
  transform: scale(0.8);
}
