.btn-remove {
  margin-left: 2px !important;
}
.published {
  display: inline;
}
.btn-item {
  font-size: small !important;
  margin: 1px;
  display: inline-block !important;
  top: 50% !important;
}
.placeforbutton {
  margin: 0;
  position: absolute;
  top: 40%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}
.virtualPlayList {
  border: honeydew;
  border-style: groove;
}
.cardFade {
  animation: fade-in 0.5s;
}
@keyframes fade-in {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}
.fade2 {
  /*animation: fade-in-keyframes 0.3s;*/
}
@keyframes fade-in-keyframes {
  from {
    opacity: 1;
    transform: translate(0, 0);
  }
  to {
    opacity: 0;
    transform: translateX(-100px);
  }
}
.flex-container {
  display: flex;
}
.play-icon {
  /* color: rgb(117, 255, 148);*/
  cursor: pointer;
  transition: transform 80ms ease-in;
  width: 30px !important;
  height: 30px !important;
  padding: 2px;
}
.play-icon:hover {
  transform: scale(0.95);
  color: #00ffb3 !important;
}
.play-icon:active {
  transform: scale(0.8);
}

.thumbnailbuttonplaylist {
  padding: 30px;
  width: 30px;
  height: 30px;
  cursor: pointer;
  position: relative;
  top: -10%;

  background-color: rgb(82 82 82 / 30%);
  border-radius: 25px;

  z-index: 500;
}
#thumbnailplaylist {
  position: absolute;
  top: 0%;
  left: 0%;
}
#thumbnailplaylist :hover {
  color: aliceblue;
}
#thumbnail2playlist {
  position: absolute;
  top: 0%;
  left: 0%;
  padding: 2px;
  width: 100%;
  height: 100%;
  color: white;
  opacity: 1;
}
#thumbnail2playlist :hover {
  z-index: 5000;
  color: #009688;
  opacity: 0.8;
}
#thumbnail2playlist :active {
  transform: scale(0.85) !important;
}
.artistStuff {
  display: inline-block;
  padding: 0;
  margin: 0;
  cursor: pointer;
  font-size: 15px;
  font-family: inherit;
}
.hoverEffect {
  color: #d4d4d4 !important;
}
.hoverEffect:hover {
  color: #00ffb3 !important;
}
