.sidebardiv {
  background-color: #151313;
  height: 100%;
  width: 100%;
}
.sidebar-playlist {
  color: #a8a8a8 !important;
  font-size: 15px;
  padding: 2px;

  padding-left: 20px;
  padding-right: 5px;
}
.sidebar-playlist:hover {
  color: #ffffff !important;
  cursor: default;
}
.playlists-sidebar {
  max-height: 650px;
  min-height: 650px;
  overflow-y: scroll;
  overflow-x: hidden;
}
.createnewdiv {
  position: relative;
  left: 15%;
}
.refreshbuttonarea {
  position: absolute;
  left: 83%;
  top: 0.7%;
  cursor: pointer;
}
