* {
  box-sizing: "border-box";
}
@import url("https://fonts.googleapis.com/css?family=Reem+Kufi&display=swap");
.ss {
  font-family: "Reem Kufi", sans-serif;
  background: #f6f5f7;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.ss h1 {
  font-weight: bold !important;
  margin: 0;
}
.ss p {
  font-size: 17px !important;
  font-weight: 100 !important;
  line-height: 20px !important;
  margin: 20px 0 30px !important;
}
.ss span {
  font-size: 12px !important;
}
.ss a {
  color: #333;
  font-size: 14px;
  text-decoration: none;
  margin: 15px 0;
}
.ss #login-container {
  background-color: white;
  border-radius: 10px;
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
  position: relative; /*relative because we will position elements insdie this as absolute*/
  overflow: hidden;
  width: 768px !important;
  max-width: 100% !important;
  min-height: 480px !important;
}
.form-container form {
  background-color: #fff;
  display: flex;
  flex-direction: column;
  padding: 0 50px;
  height: 100%;
  justify-content: center;
  align-items: center;
  text-align: center;
  transition: all 0.6 ease-in-out !important;
}
.form-container input {
  background-color: #eee;
  border: none;
  padding: 12px 15px;
  margin: 8px 0;
  width: 100%;
}

.ss button {
  display: flex;
  flex-direction: column;
  border-radius: 20px !important;
  border: 1px solid #ff4b2b;
  background-color: #ff4b2b;
  color: #fff;
  font-size: 14px;
  font-weight: bald;
  padding: 12px 45px;
  text-transform: uppercase;
  transition: transform 80ms ease-in;
}
.ss button:active {
  transform: scale(0.95);
}
.ss button:focus {
  outline: none;
}
.ss button.ghost {
  background: transparent;
  border-color: #fff;
}
.form-container {
  position: absolute !important;
  top: 0 !important;
  height: 100% !important;
  transition: all 0.6s ease-in-out !important;
}
.sign-in-container {
  left: 0 !important;
  width: 50% !important;
  z-index: 2;
}
.sign-up-container {
  left: 0 !important;
  width: 50% !important;
  opacity: 0;
  z-index: 1;
}
.overlay-container {
  position: absolute;
  top: 0;
  left: 50%;
  width: 50%;
  height: 100%;
  overflow: hidden;
  transition: transform 0.6s ease-in-out !important;
  z-index: 200;
}
.overlay {
  background: rgb(2, 0, 36);
  background: linear-gradient(
    54deg,
    rgba(2, 0, 36, 1) 0%,
    rgba(5, 241, 219, 0.9023984593837535) 21%,
    rgba(3, 34, 95, 1) 62%,
    rgba(3, 34, 95, 1) 65%,
    rgba(8, 183, 190, 1) 75%,
    rgba(8, 255, 240, 0.6474964985994398) 100%
  );
  color: #fff;
  position: relative;
  left: -100%;
  height: 100%;
  width: 200%;
  transform: translateX(0);
  transition: transform 0.6s ease-in-out !important;
}
.overlay-panel {
  position: absolute;
  top: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0 40px;
  height: 100%;
  width: 50%;
  text-align: center;
  transform: translateX(0);
  transition: transform 0.6s ease-in-out !important;
}
.overlay-right {
  right: 0;
  transform: translateX(0%);
}
.overlay-left {
  transform: translateX(-20%);
}
/* Animation */

/* Move signin to the right*/
.ss.right-panel-active .sign-in-container {
  transform: translateX(100%);
}
.ss.right-panel-active .overlay-container {
  transform: translateX(-100%);
}
.ss.right-panel-active .sign-up-container {
  transform: translateX(100%);
  opacity: 1;
  z-index: 5;
}
.ss.right-panel-active .overlay {
  transform: translateX(50%);
}
.ss.right-panel-active .overlay-left {
  transform: translateX(0);
}
.ss.right-panel-active .overlay-right {
  transform: translateX(20%);
}
h1.position {
  transform: translateY(-3em);
}
.error {
  background-color: red;
  padding-left: 4em;
  padding-right: 4em;
  border-radius: 10px;
  color: #fff;
}
.error2 {
  background-color: red;
  padding-left: 1em;
  padding-right: 1em;
  border-radius: 10px;
  color: #fff;
}
span.span2 {
  color: black;
  font-size: 0.8em !important;
}
button.loading {
  animation: load-animate infinite linear 1.5s;
}
@keyframes spinner {
  0% {
    transform: translate3d(-50%, -50%, 0) rotate(0deg);
  }
  100% {
    transform: translate3d(-50%, -50%, 0) rotate(360deg);
  }
}
.spin {
  position: relative !important;
  top: -37%;
  left: 17%;
  border: solid 5px #cfd0d1;
  border-bottom-color: #ff4b2b;
  padding: 0;
  margin: 0;
  border-radius: 50%;
  content: "";
  height: 20px;
  width: 20px;
  transform: translate3d(-50%, -50%, 0);
  animation: 1.5s linear infinite spinner;
  animation-play-state: inherit;
  will-change: transform;
}
@keyframes load-animate {
  0% {
  }

  50% {
    opacity: 0.35;
  }

  100% {
  }
}
