.react-player {
  margin-bottom: 10px;
  background: rgba(0, 0, 0, 0.1);
}
.section {
  display: inline-block;

  text-align: left;
  vertical-align: top;
}

.player-wrapper {
  max-width: 480px;
  min-height: 270px;
}
