.react-player {
  margin-bottom: 10px;
  background: rgba(0, 0, 0, 0.1);
}
.section {
  display: inline-block;

  text-align: left;
  vertical-align: top;
}

.player-wrapper {
  width: 480px;
  height: 270px;
}
.btn-controls {
  margin-left: 2px !important;
}
