@import url("https://fonts.googleapis.com/css?family=Reem+Kufi&display=swap");
@import url("https://fonts.googleapis.com/css?family=Ubuntu&display=swap");
.App {
  text-align: center;
  font-family: "Reem Kufi", sans-serif;
  font-size: 1.03em;
}
body > #root > div {
  height: 100%;
  min-height: 100vh;
  background-color: #ffffff;
  background-image: linear-gradient(315deg, #d7e1ec 0%, #ffffff 74%);
  overflow: hidden;
}
html {
  height: 100%;
  margin: 0;
  overflow: hidden;
}
.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}
.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}
.App-link {
  color: #61dafb;
}
@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.btn-margin {
  margin-right: 4px;
  margin-left: 4px;
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
  .btn {
    height: 2em;
  }
  .card-text {
    font-size: 0.9em !important;
  }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
}
